// Import Bootstrap's default variables first
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

// Define your custom colors
$primary: #D5A125;
$grey-500: #525252;
$grey-400: #737373;
$grey-300: #D4D4D4;

// Define the new theme colors
$custom-theme-colors: (
  "grey-300": $grey-300,
  "grey-400": $grey-400,
  "grey-500": $grey-500,
  "primary": $primary
);

// Merge the default theme colors with your custom ones
$theme-colors: map-merge($theme-colors, $custom-theme-colors);

// Now import Bootstrap to apply the changes
@import '~bootstrap/scss/bootstrap';
